@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppins-light";
  src: url(../fonts/poppins-light.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "poppins-regular";
  src: url(../fonts/poppins-regular.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "poppins-bold";
  src: url(../fonts/poppins-bold.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "sura-bold";
  src: url(../fonts/sura-bold.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "sura-regular";
  src: url(../fonts/sura-regular.woff2) format("woff2");
  font-display: swap;
}

:root {
  --light: 0deg 0% 95%;
  --dark: 0deg 0% 13%;
  --body: 0deg 0% 50%;
  --accent: 51deg 89% 45%;
  --alert: 0deg 92% 45%;
  --success: 131deg 75% 41%;
  --info: 220deg 75% 41%;
  --warning: 36deg 60% 50%;
  --skeleton: 36deg 60% 50%;
}

@layer base {
  body {
    @apply text-sm leading-snug font-poppinsRegular bg-light;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-suraBold leading-snug text-balance;
  }

  h1 {
    @apply text-[clamp(35px,_6vw,_45px)] mb-5;
  }

  h2 {
    @apply text-[clamp(25px,_6vw,_35px)] mb-3;
  }

  h3 {
    @apply text-[clamp(18px,_6vw,_20px)] mb-3;
  }
  h4 {
    @apply text-[clamp(12px,_6vw,_16px)] mb-3;
  }

  p {
    @apply text-body leading-loose mb-7;
  }

  button {
    @apply cursor-pointer transition-all duration-300;
  }

  button:disabled {
    @apply cursor-not-allowed opacity-60;
  }
}
@layer components {
  .container {
    @apply max-w-[1200px] w-full mx-auto px-4;
  }

  table {
    @apply w-full text-xs;
  }

  table th {
    @apply text-left;
  }

  table td,
  table th {
    @apply p-2;
  }

  table thead tr,
  table tbody tr {
    @apply border-b border-gray-300;
  }

  table tbody tr:last-child {
    @apply border-none;
  }

  table tbody tr td {
    @apply opacity-70;
  }

  .input-wrap {
    @apply relative mb-1.5;
  }

  .input-wrap input,
  .input-wrap select,
  .input-wrap textarea {
    @apply px-1.5 py-1 border border-gray-300 rounded-md w-full text-sm focus:border-blue-400 focus:bg-blue-50 outline-none;
  }

  .input-wrap label {
    @apply text-xs;
  }
  .input-wrap:has(:focus) label {
    @apply text-blue-700;
  }

  .input-wrap textarea {
    @apply resize-none max-h-[500px] h-full leading-relaxed;
  }

  .input-wrap textarea.xl {
    @apply max-h-[300px] h-full  min-h-[300px] overflow-auto;
  }

  .input-wrap .error-msg {
    @apply absolute  text-red-500 -top-4 right-1;
  }

  /* TABLE */

  .table-wrapper {
    @apply m-2 mb-1.5 p-4  rounded-md border-gray-300 border;
  }
  .table-wrapper table {
    @apply w-full text-xs;
  }

  .primary-wrapper {
    @apply w-full grid grid-rows-[auto_1fr_auto];
  }

  .primary-wrapper .main-wrapper {
    @apply bg-white pb-0.5 rounded-md border border-gray-300 shadow-sm;
  }

  /* BUTTONS */

  .btn {
    @apply bg-accent px-3 py-2 flex gap-2 items-center justify-center  rounded-md text-xs transition-all text-white;
  }

  .modal-action {
    @apply p-2 flex justify-end gap-2 border-t border-gray-300 [&>*]:w-1/2;
  }

  .btn-save {
    @apply bg-accent hover:bg-opacity-90 text-white;
  }

  .btn-alert {
    @apply bg-alert hover:bg-opacity-90 text-white;
  }

  .btn-warning {
    @apply bg-warning hover:bg-opacity-90 text-white;
  }
  .btn-success {
    @apply bg-success hover:bg-opacity-90 text-white;
  }
  .btn-cancel {
    @apply !bg-gray-200 hover:bg-gray-300 text-gray-600;
  }
}
@layer utilities {
  .center-all {
    @apply flex items-center justify-center;
  }

  .loading-bar {
    @apply overflow-hidden relative;
  }
  .loading-bar::after {
    @apply content-[''] absolute top-0 left-0 w-full h-full  bg-gradient-to-r from-transparent via-gray-300 to-transparent animate-loading;
  }
}

.spinner circle {
  fill: none;
  stroke-width: 6;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1s ease-in-out infinite;
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -110px;
  }
}
